<div class="row" ng-controller="HomeCtrl">
	<div class="col-md-10">
		<div class="panel panel-info">
			<div class="panel-heading">
		        <h3 class="panel-title">Estado del servicio	</h3>
		    </div>

		    <div class="panel-body">
		    	<p><span class="item">Estado del servicio:</span> Su servicio se encuentra pendiente de entrega, tan pronto como se le asigne un dmiciliario se le informara al respecto.</p>

		    	<button ng-click="home()" class="btn btn-primary">Volver a inicio</button>
		    </div>
		</div>
	</div>
</div>